@font-face {
  font-family: rubik;
  src: url('../fonts/Rubik-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: rubik;
  src: url('../fonts/Rubik-Italic.ttf');
  font-style: italic;
}

.center {
  margin: auto;
  display: table;
}

body {
  font-family: rubik, sans-serif;
  background-color: #F0F0F0;
}
